<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165942443615-om56cknn195qosfgoqhpcbrhccrflrti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165942443615-om56cknn195qosfgoqhpcbrhccrflrti</string>
	<key>API_KEY</key>
	<string>AIzaSyDri9sOijRi_KFP6payjsVUCSVTET6xDrg</string>
	<key>GCM_SENDER_ID</key>
	<string>165942443615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.byu.wellsBunker.ProjectGoodGood</string>
	<key>PROJECT_ID</key>
	<string>good-good-bc967</string>
	<key>STORAGE_BUCKET</key>
	<string>good-good-bc967.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165942443615:ios:40a24c31eb4053bedb65ea</string>
</dict>
</plist>